/* #region Common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --boolando-primary: #ff6900;
    --boolando-discount: #ff0000;
    --boolando-sustainability: #008000;
    --boolando-dark: #1a1a1a;
}
.container{
    max-width: 950px;
    padding: 1rem 0;
    margin: auto;
}
.img-container{
    max-width: 300px;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.d-flex-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}
img{
    max-width: 100%;
}
a{
    color: white;
    text-decoration-line: none;
}
.icons{
    color: white;
}
/* #endregion Common */

/* #region Header */

.site-header{
    background-color: var(--boolando-primary);
}
/* #endregion Header */

/* #region Main */


/* #endregion Main */